#red{color: red}
#blue{color: lightskyblue;}
#orange{color: orange}
#green{color: #2CDE00;}
#yellow{color: yellow;}
#pink{color: #FE7CB1;}
#brown{color: #824615;}
#black{color: black;}
.color-title{
    font-weight: bolder;
}
img{
    height: 200px;
    width: 200px;
    border: 1px solid black;

}
html{
    text-align: center;
    background-color: #27374D;
    background-image: linear-gradient(to bottom right, #1E292B, #E1DDD9);
}

h1{
    color: whitesmoke; 
}
    
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap: 10px;
}

@media (max-width: 900px) {
    .grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
    }   
    html{
        background-color: #27374D;
        background-image: linear-gradient(#1E292B, #E1DDD9);
    }
}
