#red{color: tomato}
#blue{color: lightskyblue;}
#orange{color: orange;}
#green{color: lightgreen;}
#yellow{color: yellow;}
.color-title{
    font-weight: normal;
}
img{
    height: 200px;
    width: 200px;
}
*{text-align: center;
    align-self: center;
}
html{background-color: grey;}